//Variables

//colors
$text-color: #5348e6;
$nav-text-color: whitesmoke;
$paragraph-text-color: #000;
$background-color: rgb(144, 135, 135);
$color-one: #df4cd2;
$color-two: #fecd1a;
$color-three: #7d6dda;

//transition
$transition: all 0.5s ease;

//radius
$border-radius: 5px;

//tablet
$tablet: 900px;
